includeConfig 'VERSION'

manifest {
    homePage = 'https://github.com/ceniklab'
    mainScript = 'ribo.groovy'
}

process.shell = ['/bin/bash', '-uexo','pipefail']

// Uncomment this to disable caching in work/ folder.
// process.cache = false


profiles {

    standard {
        includeConfig './configs/local.config'
    }


    lonestar5 {
        includeConfig './configs/lonestar5.config'
    }

}

timeline {
    enabled = true
    file = "./nextflow_logs/timeline.html"
}

trace {
    enabled = true
    file = "./nextflow_logs/trace.txt"
}

report {
    enabled = true
    file = "./nextflow_logs/report.html"
}