// Default configuration for running the pipeline on a local machine


process {
    // if the process name is not listed separately below
    // the following settings are used
    executor='local'
    cpus = 1
    maxRetries = 1
    errorStrategy = 'retry'
    // the coolest feature of 'retry' that

    cpus = { task.attempt<=1 ? 4 : 8 }

    
    // Override the following defaults 
    // by specifying the process name

    withName: md5sum {
        cpus = 1
    }

    withName: merge_MD5 {
        cpus = 1
    }

    withName: fastqc {
        cpus = 4
    }

    withName: filtering {
        cpus = 4
    }

    withName: transcriptome_alignment {
        cpus = 4
    }

}

// Total number of CPUs reserved for nextflow
executor {
    cpus = 4
}


docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g)'
}