// lonestar5 configuration

process {

    // default SLURM node config
    executor = 'slurm'
    maxRetries = 2
    errorStrategy = 'retry'
    queue = 'normal'
    // time='4h'
    time = { task.attempt<=1 ? '6h' : '12h' }
    cpus = 1

    cpus = { task.attempt<=1 ? 4 : 8 }

    
    // Override the following defaults 
    // by specifying the process name

    withName: md5sum {
        cpus = 1
        time = '2h'
    }

    withName: merge_MD5 {
        cpus = 1
        time = '2h'
    }

    withName: fastqc {
        cpus = 4
        time = '2h'
    }

    withName: filtering {
        cpus = 8
        time = '6h'
    }

    withName: transcriptome_alignment {
        cpus = 8
        time = '6h'

    }


}

// We could consider using singularity on lonestar5
singularity {
    enabled = false
    // In order to use $WORK or $SCRATCH
    // we need to mount them manually
    // we need to fix this before using singularity
    // runOptions = "--bind $WORK:/work:rw"
    // shared space can be auto-mounted
    // when this feature is supported, disabled by default
    autoMounts = false
}


docker {
    enabled = false
}